header {
    
    background:linear-gradient(black,navy,blue);
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

main {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

.imagenesprin {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
}

.imagenesprin img {
    max-width: 100%;
    border-radius: 10px;
}

.card .contenidoprin {
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: collapse;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card:hover .contenidoprin {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.principal {
    position: relative;
    left: 180px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: linear-gradient(blue, aqua, aquamarine);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;


}

.principal .card:hover {
    height: 520px;
}

body {
    background-color: white;
}

footer {
    align-self: self-end;
    background-color: darkslategray;
    color: white;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}



footer div {
    margin-top: 20px;
}

footer div a {
    color: white;
    text-decoration: none;
}

.servicio {
    background:linear-gradient(blue,aqua,aquamarine);
    border-radius: 20px;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    height: 400px;
    top:-40px
}

.titulodos{
    display: flex;
    align-content: center;
    justify-content: center;
    color: aliceblue;
}

.flips{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 margin: -25px;

}

.flips .cardstwo{
    width: 220px;
}
.flips .cardstwo img {
    position: absolute;
    max-width: 220px;
    height: 300px;
    object-fit: cover;
}

.flips .cardstwo .imgdos h3{
    position:relative;
    color: white;
    top:265px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 13px;
    visibility: hidden;
}

.cardstwo:hover .imgdos h3{
    visibility: visible;
}

.fliptext{
    display: block;
}

.videofr{
    background: linear-gradient(blue, aqua,aquamarine);
    width: 600px;
    height: 350px;
    margin-left: 200px;
    margin-bottom: 20px;
    border-radius: 20px; 
}
.videose{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
}
.videoce{
    display: flex;
    justify-content:space-around;
}

.imgvid{
    background-color: transparent;
    width: 300px;
    height: 380px;
    margin-right: 200px;
}
.imgvid img{
    width: 240px;
    height: 280px;
}

.imgvid h2{
    display:inline-block;
    background:linear-gradient(blue,aqua);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav{
    
    margin: auto;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content:center;
}
ul, ol{
    list-style: none;
}

.navy li a{
    background-color: blue;
    color:white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.navy li a:hover{
    background-color: black;
}
.navy > li{
    float: left;

}
.nav li ul{
    display: none;
}

.navy li:hover > ul{
    display: block;
}
