
body{
    background-image: url(./fondotabla.jpg);
    background-repeat: no-repeat;
    background-size:100%;

}
table {
    margin:auto;
    margin-top: 50px;
    border-collapse:collapse;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
}

th, td {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}

h1{
    display:flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}


th {
    height: 40px;
    background-color: green;
    color: white;
}

td{
    width:40px;
    background-color: rgb(96, 100, 96);
    color: white;
}

div{
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 200px;
    backdrop-filter: blur(10px);
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 50px;
}